
{% block content %}
<html>
<head>
    <title>Home Page</title>
<!--    <link rel="stylesheet" type="text/css" href="../../static/app/content/style2.css">-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/style2.css' %}" />

<!--<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>-->
</head>

<body>
    <br><br>
    <h2>Home Page</h2>
    <h3>{{ message }}</h3>

    <div class="sidebar">
        <a href="history">History</a>
        <a href="people">Profile</a>
    </div>

    

    <div class="content"> 
       <!-- <div class="topnav">
            <div class="search-container">
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
             <button type="submit">
                 <i class="fa fa-search"> Go
             </i></button>
             </form>
             </div>
        </div>
        <br>
         -->
    
      <h2>Signatures Required</h2>
      <br><br><br>

      <h2>Manage Docs</h2>

      <h2>Upload</h2>


    </div>




<!--<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6dc115780bf4ed0f',m:'WLx.PODM69x0YlLtmNJOKvscOtfNdxPTDeU_WOwcpNQ-1644619278-0-ATen/BYEdbXo7dZLuLjzCEq9Zfn/p+ZbYC7bWqwFDN8kvUpb6Q+YVwc746kP1HA+TYrVxQ6noi6+knx1cxAi+TrWHNHwYhB73QHO7ZrPO8/nwsY6w+jRwhekzEQs/X0gskRvArWUyFwM9yAssgI8jBsfforWjvBG/w+JFMoICpppQUTRjAZnYrDPAdaDieQmv/PGJtIips77PuwuDRZ9lJQ=',s:[0x2361d4a16a,0x18543d1b0d],}})();</script></body>-->
</body>
</html>

{% endblock %}
