<!--<!DOCTYPE html>-->


{% block content %}
<head>
	<title>History</title>
<!--	<link rel="stylesheet" type="text/css" href="css/style2.css">-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/style2.css' %}" />

</head>


<body>
	<br><br>
	<h2>History</h2><br>

	<div class="sidebar">
		<a href="/">Homepage</a>
		<a href="../people">Profile</a>
	</div>

	<hr>

	

	<!--<div class="topnav">
		<div class="search-container">
			<form action="/action_page.php">
				<input type="text" placeholder="Search.." name="search">
				<button type="submit"><i class="fa fa-search"> Go
				</i></button>
			</form>
		</div>
	</div>
	-->


	<br><br><br>

	<hr>

	

	<hr>

	

</body>

{% endblock %}
