/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
    margin: 0 0 0 20px;
    padding: 0;
    background-color:#abeaac;
    font-family: 'montserrat';
    text-align: center;
}
.login{
        width: 400px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #778899;
        border-radius: 15px ;
}

h2{
    text-align: center;
    color: #000000;
    padding: 20px;
}

h3{
    text-align: center;
}

label{
    color: #000000;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

span{
    color: #FFD700 ;
    font-size: 17px;
}

a{
    margin: 15px;
    padding: 1px 2px;
    border-width: 2px;
}