body
{
    margin: 0 0 0 20px;
    padding: 0;
    background-color:#8BE68D;
  /* background-color:#2e8b57; */
    font-family: 'montserrat';
}
.login{
        width: 400px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #778899;
        border-radius: 15px ;
}

h2{
    text-align: center;
    color: #000000;
    padding: 20px;
}

h3{
    text-align: center;
}

label{
    color: #F0F8FF;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

span{
    color: #FFD700 ;
    font-size: 17px;
}
a{
    margin: 15px;
    padding: 1px 2px;
    border-width: 2px;
}
